*.aux
*.fff
*.lof
*.log
*.lot
*.out
*.tex
*.toc
*.ttt
*.html
Data/*
ThesisTotal.pdf
ThesisTotal_files/*
Figures/SAWMDIST_behavViolinPlot.pdf
Figures/SAWMDIST_noCorrelogram.pdf
Figures/SAWMDIST_noScatterPlot.pdf
Figures/SAWMDIST_yesCorrelogram.pdf
Figures/SAWMLOAD_distERPs.pdf
Figures/SAWMLOAD_highScatterPlot.pdf
Figures/SAWMLOAD_lowScatterPlot.pdf
Figures/SAWMLOAD_targERPs.pdf
Figures/WMBehav_TI_hPlot.pdf
Figures/WMBehav_TM_hPlot.pdf
Figures/WMBehav_accuracyfixVmatPlot.pdf
Figures/WMBehav_accuracyfixVoppPlot.pdf
Figures/WMBehav_capacityfixVmatPlot.pdf
Figures/WMBehav_capacityfixVoppPlot.pdf
Figures/WMBehav_criterionfixVmatPlot.pdf
Figures/WMBehav_criterionfixVoppPlot.pdf
Figures/WMBehav_sensitivityfixVmatPlot.pdf
Figures/WMBehav_sensitivityfixVoppPlot.pdf
Figures/behavViolinPlot.pdf
Figures/highCorrelogram.pdf
Figures/highLatCorrelogram.pdf
Figures/lowCorrelogram.pdf
Figures/lowLatCorrelogram.pdf
Figures/lowLatScatterPlot.pdf